<%= render "shared/row_header", title: "Clientes" %>

<div class="row form-horizontal">
  <div class="col-md-6">
    <%= render "shared/column_header", title: "Dados" %>
    <%= show_field(@client, :name) %>
    <%= show_field(@client, :cpf) %>
  </div>
</div>
