<!-- sidebar -->
<div id="sidebar-nav">
  <ul id="dashboard-menu">
    <%= sidebar_item_for("Clientes", "users",
      path: clients_path,
      page_controller: "calendar_events",
      id: "agenda-menu-item"
    ) %>
  </ul>
</div>
